body {
    background-color: lightblue;
}

#p1 {
    font-family: Times New Roman;
    font-style: italic;
}

#p2 {
    font-family: Arial;
    font-style: oblique;
}

img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

